html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: "Poppins", "Arial", "Helvetica", sans-serif;
}
.container{
    max-width: 1635px;
    padding: 0 20px;
    margin: 0 auto;
}
.site-header{
    margin: 0 auto;
    background: #F6F8FF;
}
.sitenav{
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-top: 63px;
}
.logo-img{
    margin-right: 150px;
}
.sitenav__list{
    display: flex;
    align-items: center;
    list-style: none;
}
.sitenav__item{
    position: relative;
    margin: 0;
    margin-right: 62px;
    padding: 0;
}
.sitenav-link{
    display: block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    color: #172F53;
}
.sitenav-link::after{
    content: "";
    display: inline-block;
    background-image: url(/images/strelka.svg);
    background-repeat: no-repeat;
    width: 15px;
    height: 10px;
    margin-left: 15px;
    transition: transform 0.2s;
}
.sitenav__item:hover .sitenav-link::after{
    transform: rotate(180deg);
}
.dropdown-menu{
    display: none;
    position: absolute;
    z-index: 5;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    list-style: none;
    background-color: white;
}
.sitenav__item:hover .dropdown-menu{
    display: block;
}
.dropdown-menu a{
    padding: 16px;
    padding-left: 0;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    white-space: nowrap;
    color: #172F53;
}
.signing-box{
    margin-left: auto;
}
.nav-link{
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    color: #172F53;
}
.register-link{
    margin-left: 50px;
    padding: 10px 26px;
    text-decoration: none;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 20px;
    line-height: 30px;
    color: #172F53;
}
.header-bottom{
    padding-top: 190px;
    padding-bottom: 357px;
    background-image: url(/images/person.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: calc(50% + 450px) -80px;
}
.mid-header-title{
    width: 684px;
    margin: 0;
    margin-bottom: 46px;
    font-weight: bold;
    font-size: 72px;
    line-height: 108px;
    color: #172F53
}
.mid-header-text{
    width: 686px;
    margin: 0;
    font-size: 30px;
    line-height: 45px;
    color: #7D7D7D;
}
.mid-header-img{
    position: relative;
    right: -150px;
}


.track-section{
    position: relative;
    top: -120px;
    margin-bottom: 170px;
}
.inside-track-section{
    max-width: 1350px;
    padding: 41px 71px 71px 71px;
    background: #FFFFFF;
    box-shadow: 8px 8px 100px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    
}
.track-text{
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 35px;
    line-height: 52px;
    color: #172F53;
    margin-bottom: 30px;
}
.track-text-span{
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 25px;
    line-height: 37px;
    color: #172F53;
}
.track-form{
    display: flex;
}
.form-input{
    width: 913px;
    padding: 31px 0;
    padding-left: 40px;
    border: none;
    background: #EFEFEF;
    border-radius: 10px;
    font-size: 25px;
    line-height: 37px;
    color: #9F9F9F;
}
.form-submit{
    width: 337px;
    margin-left: 95px;
    cursor: pointer;
    
    background: #21D8E3;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    transition: 0.2s;
}
.form-submit:hover{
    background: #21b6e3;
}


.main-title-span{
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: #A9A9A9;
}
.main-title{
    width: 852px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 94px;
    text-align: center;
    font-weight: bold;
    font-size: 52px;
    line-height: 78px;
    color: #172F53;
}
.services-list{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 40px;
}
.services-item{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: 0;
    margin-bottom: 173px;
    padding: 30px 30px 76px 30px;
    background: #F6F8FF;
    border-radius: 20px;
    transition: 0.5s;
}
.services-title{
    margin: 0;
    margin-bottom: 34px;
    padding: 0;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: #172F53;
}
.services-img{
    width: 120px;
    height: 120px;
    margin-bottom: 39px;
    background: #FFFFFF;
    box-shadow: 18px 18px 50px rgba(0, 0, 0, 0.05);
    border-radius: 75px;
}
.services-text{
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #A9A9A9;
}
.services-text:first-child{
    margin-bottom: 10px;
}
.services-span{
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #172F53;
}
.services-item:hover{
    cursor: pointer;
    background: #5F5FFE;
}
.services-item:hover .services-title{
    color: #FFFFFF;
}
.services-item:hover .services-span{
    color: #FFFFFF;
}


.discount-section{
    margin-bottom: 180px;
    padding-top: 80px;
    padding-bottom: 50px;
    background-image: url(/images/discount.jpg);
    background-repeat: no-repeat;
    background-position: calc(50% + 600px);
    background-size: contain;
}
.description-title{
    width: 854px;
    margin-bottom: 45px;
    font-weight: bold;
    font-size: 52px;
    line-height: 78px;
    color: #172F53;
}
.description-text{
    width: 950px;
    margin-bottom: 65px;
    font-size: 30px;
    line-height: 45px;
    color: #7D7D7D;
}
.description-link{
    display: inline-block;
    text-decoration: none;
    padding: 31px 73px;
    background: #21D8E3;
    border-radius: 10px;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    color: #FFFFFF;
}
.description-link:hover{
    background: #21b6e3;
}

.partnership-text{
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: #A9A9A9;
}
.partnership-title-span{
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: #A9A9A9;
}
.partnership-title{
    width: 697px;
    margin: 0 auto;
    margin-bottom: 94px;
    padding: 0;
    font-weight: bold;
    font-size: 52px;
    text-align: center;
    line-height: 78px;
    color: #172F53;
}

.companies-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1400px;
    margin: 0 auto;
    margin-bottom: 185px;
    padding: 105px 96px;
    background: #FFFFFF;
    box-shadow: 8px 8px 100px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.company-link{
    text-decoration: none;
}
.company-img{
    box-sizing: border-box;
    transition: 0.2s;
}


.site-footer{
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    padding-top: 95px;
    padding-bottom: 250px;
    background: #172F53;
    background-image: url(/images/city.png);
    background-repeat: repeat-x;
    background-position: center bottom;
}
.inside-footer{
    display: flex;
    justify-content: space-between;
}
.info-box{
    display: flex;
    flex-direction: column;
}
.info-box-title{
    margin-bottom: 54px;
    font-weight: bold;
    font-size: 27px;
    line-height: 40px;
    color: #FFFFFF;
}
.info-box-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    color: #FFFFFF;
}
.info-box-link:hover{
    color: aquamarine;
}
.info-box-link:not(:last-child){
    margin-bottom: 30px;
}
.products-box{
    display: flex;
    flex-direction: column;
}
.products-box-title{
    margin-bottom: 54px;
    font-weight: bold;
    font-size: 27px;
    line-height: 40px;
    color: #FFFFFF;
}
.products-box-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    color: #FFFFFF;
}
.products-box-link:hover{
    color: aquamarine;
}
.products-box-link:not(:last-child){
    margin-bottom: 30px;
}
.contact-box{
    display: flex;
    flex-direction: column;
}
.contact-box-title{
    margin-bottom: 54px;
    font-weight: bold;
    font-size: 27px;
    line-height: 40px;
    color: #FFFFFF;
}
.contact-box-text{
    max-width: 366px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    color: #FFFFFF;
}
.contact-box-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    color: #FFFFFF;
}
.contact-box-link:hover{
    color: aquamarine;
}
.apps-box{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.apps-title{
    margin-bottom: 54px;
    font-weight: bold;
    font-size: 27px;
    line-height: 40px;
    color: #FFFFFF;
}
.apss-img{
    margin-bottom: 25px;
}
